/****************************/
/*         HEADER          */
/**************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fdf2e9;

  /* Because we want it to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/****************************/
/*       NAVIGATION        */
/**************************/

.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.btn--cta:link,
.btn--cta:visited {
  padding: 1.2rem 2.4rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*
<ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
<ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon> 
*/

/****************************/
/*       HERO SECTION      */
/**************************/

.section-hero {
  background: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  /* visually, wider hero is better than normal container */
  /* 1300 / 10 = 130rem */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* fill the entire parent element */
  width: 100%;
  /* height: auto; */
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* pulls each img to the left, OVERLAPING EACH IMG*/
  margin-right: -1.6rem;
  /* make imgs standout */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-txt {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-txt span {
  color: #cf711f;
  font-weight: 700;
}

/****************************/
/*       FEATURED IN       */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #767676;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.company-logo {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 50%;
}

/****************************/
/*   HOW IT WORKS SECTION  */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #dddddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-image-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parents width */
  padding-bottom: 60%;

  background: #fdf2e9;
  z-index: -2;
}

.step-image-box::after {
  width: 50%;
  /* height: 50%; */

  /* 50% of parents width */
  padding-bottom: 50%;

  background: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  height: auto;
}

/****************************/
/*      MEALS SECTION      */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  /* translate: Horizontal and Vertical Movement */
  /* transform: translate(0, -10px); */
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem 0 rgba(0, 0, 0, 0.06);
}

.meal img {
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
  color: #333;
}

.tag--vegetarian {
  background: #cf711f;
}

.tag--paleo {
  background: #ffd43b;
}

.tag--vegan {
  background: #94d82d;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  /* icons in rectangle box */
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

/* imgs need to have the same height or aspect ratio */
.meal-image {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/****************************/
/*  TESTIMONIALS SECTION   */
/**************************/

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background: #fdf2e9;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 8rem;
}

.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  /* MAKES IMAGES STAY WITHIN PARENT WHEN HOVERING */
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/****************************/
/*     PRICING SECTION     */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 10px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.pricing-plan--complete {
  background: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-cost {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-cost span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.list-icon--hide {
  visibility: hidden;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  background: #fdf2e9;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8;
  line-height: 1.8;
}

/****************************/
/*       CTA SECTION       */
/**************************/

.section-cta {
  /* matching bottom padding from top padding in footer*/
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  /* total 3fr */
  grid-template-columns: 2fr 1fr;
  background: #e67e22;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* Img was going over  */
  overflow: hidden;

  border-radius: 11px;
}

.cta-text-box {
  color: #2e1907;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgb(235, 152, 78, 0.35),
      rgb(230, 126, 34, 0.35)
    ),
    url("/src/img/eating.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  /* inherit font family from parent element */
  font-family: inherit;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  /* occupy entire parent */
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(232, 242, 233, 0.5);
}

/****************************/
/*     FOOTER SECTION      */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  /* ALSO WORKS! */
  /* display: grid; */
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  /* Make copyright appear on the very bottom */
  margin-top: auto;
  /* ALSO WORKS! */
  /* align-self: end; */
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
